<%
  session['has_done_survey'] = params["survey_done"] unless params["survey_done"].nil?
%>

<div class="row work-type">
  <div class="col-xs-12">&nbsp;</div>
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Thank you. The information you entered has been saved successfully.
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <%
            download_url = ''
            if params['from']=='collection'
                download_url = "/zipfiles/#{params['collection_id']}.zip"
                collection_id = "#{params['collection_id']}"
                collecton_fileset_count = CollectionHelper.get_collection_file_number(collection_id)
            else
                download_url = "/downloads/#{params['fileset_id']}"
                fileset_id = "#{params['fileset_id']}"
            end
            %>
            
            <button type="button" class="btn btn-info"
            <% if params['from'] != 'collection' %> 
                id="file_download" data-label="<%= fileset_id %>"
            <% else %>
                id="collection_download_all" data-label="<%= collection_id %>" data-value="<%= collecton_fileset_count%>"
            <% end %>
                onclick="window.open('<%= download_url%>','_blank');parent.location.reload(true);">Download resource
            </button>

            <button type="button" class="btn btn-info" onclick="parent.location.reload(true);">Close</button>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
