<!-- top boxes -->
<div class="container row">
  <div class="col-xs-12 col-sm-4 ncelp-homepage-top-box">
    FRENCH
  </div>
  <div class="col-xs-12 col-sm-4 ncelp-homepage-top-box">
    GERMAN
  </div>
  <div class="col-xs-12 col-sm-4 ncelp-homepage-top-box">
    SPANISH
  </div>
</div>

<!-- middle boxes -->
<div class="container row">
  <div class="col-xs-12 col-sm-12 ncelp-homepage-middle-box">
    <h3>Search the Resource Portal</h3>

  </div>
</div>

<!-- bottom boxes -->
<div class="container row">
  <div class="col-xs-12 col-sm-8 ncelp-homepage-bottom-box-left">
    <h4><%= t('hyrax.homepage.featured_works.tab_label') %></h4>
    <%= render 'featured_works' %>
  </div>
  <div class="col-xs-12 col-sm-4 ncelp-homepage-bottom-box-right">
    <h4><%= t('hyrax.homepage.recently_uploaded.tab_label') %></h4>
    <%= render 'recently_uploaded', recent_documents: @recent_documents %>
  </div>
</div>
