<h2>File Details</h2>

<table class="file-details">
  <tr>
    <td>Depositor:</td>
    <td itemprop="accountablePerson" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><%= link_to_profile @presenter.depositor %></span></td>
  </tr>
  <tr>
    <td>Date Uploaded:</td>
    <td itemprop="datePublished"><%= @presenter.date_uploaded %></td>
  </tr>
  <tr>
    <td>Date Modified:</td>
    <td itemprop="dateModified"><%= @presenter.date_modified %></td>
  </tr>
</table>