<%= f.input :language, as: :check_boxes,
            collection: GenericLocalAuthorityService.select_all_options('language'),
            value_method: lambda {|v| v.last.to_s },
            input_html: { multiple: true  }
%>

<div id="language_other_div" style="display: none; position: relative; top: -20px;">
  <%= f.input :language_other,
              input_html: { class: 'form-control' }
  %>
</div>