<div class="row">
  <div class="col-md-12">
    
    <h1>Contact us</h1>

    <strong>For general Resource Portal enquiries and feedback:</strong><br />
    Email: <a href="mailto:ldp-project@york.ac.uk" title="Contact us at ldp-project@york.ac.uk">ldp-project@york.ac.uk</a><br />
    <br />

    <strong>To report a problem or to request help in using the system:</strong><br />
    Please first visit the 'Help' page. If your query is not answered there, email us at <a href="mailto:ldp-project@york.ac.uk" title="Contact us at ldp-project@york.ac.uk">ldp-project@york.ac.uk</a> with details and one of the team will get back to you.<br /><br />

    <strong>Postal address:</strong><br />
    Language-Driven Pedagogy <br />
    Department of Education<br />
    University of York<br />
    York<br />
    YO10 5DD<br /><br />

    <strong>Mailing list:</strong><br />
    If you would like to receive a regular bulletin of the latest materials added to the LDP Resource Portal as well updates on the Centre’s activities, sign up to our <a href="https://docs.google.com/forms/d/e/1FAIpQLSeJy-sMKW_1qQQMJWxatdS_FBS2a8IMIBT_XOSoNf9nvsCb_w/viewform" title="Sign up for our mailing list" target="_blank">mailing list</a>.

  </div>
</div>