<% content_for(:navbar) do %>
  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-7 strapline-div">
        <%= image_tag(t('ncelp.banner_image'), alt: "NCELP Resource Portal", class: 'logo-image') %>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-5 strapline-div">
        <%= image_tag(t('ncelp.strapline_image'), alt: "Understanding, improving and promoting language learning", class: 'strapline-image') %>
      </div>

    </div>

    <!-- <span class="background-container-gradient" style="background: none;"></span> -->

    <!-- <div class="container site-title-container">
      <div class="site-title h1" style="text-align: center;">
        <%# = render "hyrax/homepage/marketing" if controller_name == 'homepage' %>
      </div>
    </div> -->
    
    <%= render '/controls' %>

  </div>
<% end %>