<div class="row ncelp-search-result-resource-field-div">
  <div class="col-md-12">
    <%= document.one_line_description %>
  </div>
</div>

<div class="row ncelp-search-result-resource-field-div">
  <div class="col-md-12">
    <div>
      <%= image_tag("listening.png", class: "ncelp-search-result-resource-filetype-icon")%>
    </div>
  </div>
</div>

<div class="row ncelp-search-result-resource-field-div">
  <div class="col-md-4">
    <div>
      Language
    </div>
  </div>
  <div class="col-md-8">
    <div>
      <%= document.language %>
    </div>
  </div>
</div>

<div class="row ncelp-search-result-resource-field-div">
  <div class="col-md-4">
    <div>
      Type of material
    </div>
  </div>
  <div class="col-md-8">
    <div>
      <%= document.type_of_material %>
    </div>
  </div>
</div>
