<div class="row ncelp-search-result-resource-field-div">
  <div class="col-md-12">
    One line description
  </div>
</div>

<div class="row ncelp-search-result-resource-field-div">
  <div class="col-md-12">
    <div>
      <%= image_tag("listening.png", class: "ncelp-search-result-resource-filetype-icon")%>
    </div>
  </div>
</div>

<div class="row ncelp-search-result-resource-field-div">
  <div class="col-md-4">
    <div>
      Language
    </div>
  </div>
  <div class="col-md-8">
    <div>
      XXXXX
    </div>
  </div>
</div>

<div class="row ncelp-search-result-resource-field-div">
  <div class="col-md-4">
    <div>
      Type of material
    </div>
  </div>
  <div class="col-md-8">
    <div>
      XXXXXXXXXXX
    </div>
  </div>
</div>
