<div class="row ncelp-search-result-resource-field-div">
  <div class="col-md-12">
    <%= document.one_line_description %>
  </div>
</div>

<div class="row ncelp-search-result-resource-field-div">
  <div class="col-md-12">
    <% document.file_type.each do |ft| %>
      <span>
        <%= image_tag(FileTypeIcon.get_icon(ft),
                      class: "ncelp-search-result-resource-filetype-icon",
                      alt: GenericLocalAuthorityService.id_to_label('file_type', ft),
                      title: GenericLocalAuthorityService.id_to_label('file_type', ft))%>
      </span>
    <% end %>
  </div>
</div>

<div class="row ncelp-search-result-resource-field-div">
  <div class="col-md-4">
    <div>
      Language being learnt
    </div>
  </div>
  <div class="col-md-8">
    <% document.language.each do |l| %>
      <span class="ncelp-search-result-resource-field-value">
        <%= link_to GenericLocalAuthorityService.id_to_label('language', l),
                     '/catalog?f[language_sim][]='+l+'&locale=en&q=&search_field=all_fields',
                     :target => "_blank" %>
      </span>
    <% end %>
  </div>
</div>

<div class="row ncelp-search-result-resource-field-div">
  <div class="col-md-4">
    <div>
      Type / purpose of resource
    </div>
  </div>
  <div class="col-md-8">
    <span class="ncelp-search-result-resource-field-value">
      <%= link_to GenericLocalAuthorityService.id_to_label('type_of_material',document.type_of_material),
                  '/catalog?f[type_of_material_sim][]='+document.type_of_material+'&locale=en&q=&search_field=all_fields',
                  :target => "_blank" %>
    </span>
  </div>
</div>
