.image-masthead {
  padding-top: 10px;
}
.image-masthead .background-container {
  -webkit-filter: none;
  filter: none;
}

/* footer customizations */
.ncelp-footer-border{
  border-top: 5px solid #ed7d31;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}
.ncelp_footer_container {
  vertical-align: middle;
}
.ncelp_footer_image {
  max-width: 100%;
  max-height: 100px;
}
footer.navbar-inverse {
  background-color: white;
}

/* homepage customizations */
.ncelp-homepage-top-box {
  height: 200px;
  line-height: 200px;  /* to get vertical-align working */
  background-color: #0d4f74;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border: 10px solid white;
}
.ncelp-homepage-middle-box {
  height: 220px;
  background-color: #e97c1e;
  text-align: center;
  vertical-align: middle;
  color: black;
  border: 10px solid white;
}
.ncelp-homepage-bottom-box-left {
  max-height: 100%;
  background-color: #0d4f74;
  color: white;
  border: 10px solid white;
}
.ncelp-homepage-bottom-box-right {
  max-height: 100%;
  background-color: #4472c4;
  color: white;
  border: 10px solid white;
}