.image-masthead {
  padding-top: 10px;
}
.image-masthead .background-container {
  -webkit-filter: none;
  filter: none;
}

/* menubar customization */
.image-masthead {
  .navbar {
    background-color: white;
    color: #534f4a;
    margin-bottom: 0;

    .navbar-nav {
      a {
        text-transform: uppercase;
        color: #534f4a;

        &:hover,
        &:focus {
          color: #e8803d;
        }
      }
    }

    .active > a {
      &,
      &:hover,
      &:focus {
        background-color: white;
        color: #e8803d;
      }
    }
  }
}

/* footer customizations */
.ncelp-footer-border{
  border-top: 5px solid #ed7d31;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}
.ncelp_footer_container {
  vertical-align: middle;
}
.ncelp_footer_image {
  max-width: 100%;
  max-height: 100px;
}
footer.navbar-inverse {
  background-color: white;
}

/* homepage customizations */
.ncelp-homepage-top-box {
  height: 200px;
  line-height: 200px;  /* to get vertical-align working */
  background-color: #0d4f74;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border: 10px solid white;
}
.ncelp-homepage-middle-box {
  height: 220px;
  background-color: #e97c1e;
  text-align: center;
  vertical-align: middle;
  color: black;
  border: 10px solid white;
}
.ncelp-homepage-bottom-box-left {
  max-height: 100%;
  background-color: #0d4f74;
  color: white;
  border: 10px solid white;
}
.ncelp-homepage-bottom-box-right {
  max-height: 100%;
  background-color: #4472c4;
  color: white;
  border: 10px solid white;
}

/*search result page customization*/
.ncelp-search-result-resource-div {
  border: 2px solid #eef0f2;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 10px;
}
.ncelp-search-result-resource-field-div {
  padding-left:   12px;
  padding-right:  10px;
  padding-top:    5px;
  padding-bottom: 5px;
}
.ncelp-search-result-resource-filetype-icon{
  height: 50px;
  width: 50px;
}
.ncelp-search-result-resource-field-value{
  background-color: #eef0f2;
  border: 5px solid white;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
// facet header
div.facets h3 {
  font-size: 1.2em;
}

/*resource details page*/
.ncelp-resource-details-box {
  border: 2px solid #eef0f2;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
}
.ncelp-resource-details-social {
  text-align: right;
}
.ncelp-resource-icon {
  height: 30px;
  width: 30px;
}
.ncelp-resource-link-icon {
  height: 30px;
  width: 30px;
}
