.image-masthead {
  padding-top: 10px;
}
.image-masthead .background-container {
  -webkit-filter: none;
  filter: none;
}

/* footer customizations */
.ncelp-footer-border{
  border-top: 5px solid #ed7d31;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}
.ncelp_footer_container {
  vertical-align: middle;
}
.ncelp_footer_image {
  max-width: 100%;
  max-height: 100px;
}
footer.navbar-inverse {
  background-color: white;
}
