.image-masthead {
  padding-top: 10px;
}
.image-masthead .background-container {
  -webkit-filter: none;
  filter: none;
}

.logo-image {
  width: 90%;
  max-height: 100px;
}
.strapline-div {
  height: 100px;
  position: relative;
}
.strapline-image {
  width: 90%;
  position: absolute;
  bottom: 0;
}

.extra-space-bottom {
  margin-bottom: 10px;
}

body {
  margin-bottom: 0px;
}

/* menubar customization */
.image-masthead {
  border-bottom: 0;
  margin-bottom: 15px;

  .navbar {
    background-color: white;
    color: #534f4a;
    margin-bottom: 0;

    .navbar-nav {
      a {
        text-transform: uppercase;
        // color: #534f4a;
        color: #000;

        &:hover,
        &:focus {
          // color: #e8803d;
          color: #ff6400;
        }
      }
    }

    .active > a {
      &,
      &:hover,
      &:focus {
        background-color: white;
        // color: #e8803d;
        color: #ff6400;
      }
    }
  }
}

/* footer customizations */
.ncelp-footer-border {
  border-top: 2px solid #ed7d31;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  padding-top: 5px;
  margin-top: 15px;
}
.ncelp-footer-border .navbar-text {
  margin-left: 0;
}
.ncelp_footer_container {
  display: flex;
  align-items: center;
}
.ncelp_footer_image {
  max-width: 100%;
  max-height: 100px;
}
footer.navbar-inverse {
  background-color: white;
}

/* homepage customizations */

.ncelp-homepage-top-box {
  height: 200px;
  line-height: 200px; /* to get vertical-align working */
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  font-weight: bold;
  border: 10px solid white;
}
.ncelp-homepage-middle-box {
  text-align: left;
  vertical-align: middle;
  border: 2px solid #eeeeee;
  border-radius: 10px;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
}
.ncelp-searchbox-image-header {
  padding-top: 5px;
  width: 100%;
}
.ncelp-homepage-browse-buttons-row {
  text-align: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ncelp-homepage-browse-button-div {
  margin-bottom: 3px;
}
.ncelp-homepage-browse-button {
  width: 220px;
  height: 50px;
  background-color: #e87d1e;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border: 2px solid #e87d1e;
  border-radius: 10px;
  color: black;
}
.ncelp-homepage-browse-button a {
  color: black;
}
.ncelp-homepage-browse-button a:visited {
  color: black;
}

/* New styling for the `Browse by` buttons on homepage */
.ncelp-homepage-browse-button-link {
  display: inline-block;
  width: 100%;
  padding: 10px;

  margin-top: 10px;

  background-color: #e87d1e;
  font-size: 16px;
  text-align: center;
  border: 2px solid #e87d1e;
  border-radius: 4px;
  color: black;

  &,
  &:hover,
  &:focus {
    background-color: #fd871f;
    color: black;
  }
}

.ncelp-homepage-bottom-box-left {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  max-height: 100%;
  background-color: #0d4f74;
  color: white;
  border: 2px solid #0d4f74;
  border-radius: 10px;
}
.ncelp-homepage-bottom-box-right {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 5px;
  padding-top: 5px;
  max-height: 100%;
  border: 2px solid #0d4f74;
  border-radius: 10px;
}
.ncelp-homepage-featured-and-recent-box {
  display: flex;
}
.ncelp-homepage-featured-field {
  padding: 4px;
  color: black;
}

/*search result page customization*/
.ncelp-search-result-resource-div {
  border: 2px solid #eef0f2;
  -moz-border-radius: 15px;
  border-radius: 10px;
  padding: 10px;
}
.ncelp-search-result-resource-field-div {
  padding-left: 12px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ncelp-search-result-resource-field-div {
  padding: 0;
  padding-top: 10px;
}

.ncelp-search-result-resource-filetype-icon{
  height: 50px;
  width: 50px;
}
.ncelp-search-result-resource-field-value {
  padding-right: 3px;
  margin-right: 5px;
  border-right: 1px solid lightgray;

  a {
    color: #104f75;
  }

  // Remove border from last child
  &:last-child {
    border:0;
    margin-right: 0;
  }

}
// facet header
div.facets h3 {
  font-size: 1.2em;
}

/*resource details page*/
.ncelp-resource-details-box {
  border: 2px solid #eef0f2;
  -moz-border-radius: 15px;
  border-radius: 10px;

  .download-item {
    
    .inner {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &:nth-child(odd) {
      background-color: #eee;
    }

    &:hover {
      background-color: #ddd;
    }

    .text {
      display: inline-block;
      width: 180px;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }
    
  }

}
.ncelp-resource-details-social {
  text-align: right;
}
.ncelp-resource-icon {
  height: 50px;
  width: 50px;
}
.ncelp-resource-link-icon {
  height: 30px;
  width: 30px;
}
.ncelp-resource-details-title-content {
  font-weight: normal;
  font-size: 16px;
  color: rgb(16, 79, 117);
}
.ncelp-resource-details-label {
  font-weight: bold;
}
.ncelp-resource-details-content {
  font-weight: normal;
}
.iris-oasis-links-row {
  margin-bottom: 10px;
}

/* Metadata form customization */
.additional-fields {
  color: #fff;
  background-color: #2c76c7;
  border-color: #276ab2;
}
.additional-fields:hover {
  color: #fff;
  background-color: #2c76c7;
  border-color: #276ab2;
}
.visibility-widget {
  display: none;
}

.file-details {
  border-top: 1px solid black;
  width: 100%;
}

.file-details tr td {
  padding: 5px;
}

.file-details tr td:nth-child(1) {
  padding-right: 20px;
  padding-left: 0;
  font-weight: bold;
  width: 130px;
}

.form-actions .social-media {
  padding-left: 0;
}

.form-actions .social-media a.resp-sharing-button__link {
  margin-left: 0;
}

form#surveyform label {
  font-weight: normal;
}

#surveyform .about-you {
  margin-bottom: 20px;

  &.alert-danger {
    padding: 10px;
  }
}

#surveyform .bold {
  font-weight: bold;
}

#search-results {
  .search-result-wrapper {
    margin-bottom: 0;
  }
  li {
    margin-bottom: 15px;
  }
  .search-result-title {
    a {
      color: #104f75;
    }
  }
}

#facet-panel-collapse {
  .panel-body {
    ul {
      margin-bottom: 0;
    }
  }
}

.resource-title .show-actions,
.resource-title .social-media {
  padding: 0;
}

.resource-title .social-media {
  display: inline-block;
}

.resp-sharing-button__link {
  margin: 0;
}

.ncelp-resource-details-box h2 {
  font-size: 20px;
  margin-top: 10px;
}

.ncelp-resource-details-box table th:first-child {
  padding-left: 0;
}

.homepage-search-label {
  font-weight: normal;
}

.tab-content {
  margin-top:15px;
}

form#new_resource {
  select {
    height: 230px;
  }
}

@media only screen and (max-width: 800px) {
  .row {
    margin-right: 0;
    margin-left: 0;
  }
}

#accordion {

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border-color: #ddd;
  }

  .ui-state-active {
    border: 1px solid #c5c5c5;
    background-color: #f6f6f6;
    color: #454545;
    font-weight: normal;
  }

  .ui-state-active .ui-icon, .ui-button:active .ui-icon {
    color: #444;
  }

  .ui-accordion .ui-accordion-content {
    padding: 0;
  }

  .ui-icon {
    background-image: url(/assets/jquery-ui/ui-icons_444444_256x240-31d988765b4e6f56553c29588c500381dc3e6f0aa2980c8212202e5644aefd5d.png);
  }

  .ncelp-resource-details-box {
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

}

#facets {
  .facet-field-heading {
    a {
      width: 90%;
      display: inline-block;
    }
  }
}