
<h2>How to cite material available on the NCELP Resources Portal</h2>
<br/>

<h3>If you wish to cite material from NCELP, please use the following in-text citation format, illustrated here:</h3>

<p>"..., as suggested by NCELP (2019). It has also been proposed that grammar can be taught in small discrete units 
(NCELP, 2020a). Furthermore, NCELP (2020b) recommends that vocabulary should be regularly revisited."</p>

<h3>For the full reference, please use the following format:</h3>

<p>NCELP (year given on the resource itself. If this is not available, use 2019). Title of the resource. 
National Centre for Excellence for Language Pedagogy: University of York, UK. Retrieved from [url] 
[date it was downloaded in this format: 20 November 2020].</p>
<br/>
For example,

<p>NCELP (2020). Meaningful practice: definitions, rationale and principles. National Centre for Excellence for 
Language Pedagogy: University of York, UK. Retrieved from <a href="https://resources.ncelp.org/concern/resources/ng451h506">
https://resources.ncelp.org/concern/resources/ng451h506</a> on 20 November 2020.</p>

<p>Note: Sometimes individual authors are listed on some of the materials, and those authors' 
names can be used instead of 'NCELP'. For the in-text citation, this would be "Kasprowicz (2020)". 
For the reference this would be "Kasprowicz, R. (2020)". [followed by the reference as above]. 
However, most of the time "NCELP" as the author is the most appropriate.</p>
