<h2>Help</h2>
<br/>
<p>
  Please read our brief guide: '<a target="_blank" href="https://drive.google.com/file/d/1wlJMPiuY-PGq9z4Xd9l-ptJ4NoMdoDek/view?usp=sharing">Using the Resource Portal</a>' which contains information on:
</p>
<br/>
<ul>
  <li>Searching and Browsing by All resources</li>
  <li>Search results page</li>
  <li>Resource details page</li>
  <li>Downloading a resource file</li>
  <li>Featured Works, Recently Uploaded and Collections</li>
  <li>Resource Portal Bulletins</li>
  <li>Contact us</li>
</ul>
<br/>

<p style="font-weight: bold">Accessibility:</p>
<p>
NCELP is committed to providing resources that are accessible to all in accordance with W3C recommendations. We are actively working to increase the increase the accessibility and usability of our resources, and to meet current guidelines. Please visit our accessibility page for more information.
</p>
<br/>
<p>
  If the above does not answer your queries or you would like to report a problem with the system, please email <a href="mailto:resources@ncelp.org">resources@ncelp.org</a> with details.
</p>