<p><a href="https://ncelp.org/wp-content/uploads/2020/12/LOGO-NCELP-schemes-of-work-1.png"><img class="alignnone size-medium wp-image-3504" src="https://ncelp.org/wp-content/uploads/2020/12/LOGO-NCELP-schemes-of-work-1-300x46.png" alt="Schemes of work logo" width="300" height="46" srcset="https://ncelp.org/wp-content/uploads/2020/12/LOGO-NCELP-schemes-of-work-1-300x46.png 300w, https://ncelp.org/wp-content/uploads/2020/12/LOGO-NCELP-schemes-of-work-1-1024x158.png 1024w, https://ncelp.org/wp-content/uploads/2020/12/LOGO-NCELP-schemes-of-work-1-768x118.png 768w, https://ncelp.org/wp-content/uploads/2020/12/LOGO-NCELP-schemes-of-work-1-1536x237.png 1536w, https://ncelp.org/wp-content/uploads/2020/12/LOGO-NCELP-schemes-of-work-1.png 1750w" sizes="(max-width: 300px) 100vw, 300px"></a></p>

<p>NCELP Schemes of Work are proposed as examples of how language knowledge and practice can be sequenced and re-visited systematically to support progression in the early stages of language development within a low exposure foreign language setting. The principles and processes that informed the SOW are described in this <a href="https://resources.ncelp.org/concern/resources/8g84mm27v?locale=en" target="_blank" rel="noopener noreferrer">Rationale, Scope, and Key Principles</a> document. Further insights into the SOW are available in this <a href="https://resources.ncelp.org/concern/resources/qj72p737c?locale=en" target="_blank" rel="noopener noreferrer">SOW Audio Presentation</a>.</p>

<p>The NCELP SOW are in line with: (a) the <a href="https://ncelp.org/resources/modern-foreign-language-pedagogy/" target="_blank" rel="noopener noreferrer">Review of MFL Pedagogy</a>, a report published by the Teaching Schools Council, which drew on research into foreign language learning and teaching and on the knowledge and experience of a wide range of experienced practitioners; (b) Ofsted’s current aspirations for <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/801429/Education_inspection_framework.pdf" target="_blank" rel="noopener noreferrer">curriculum intent, implementation, and impact</a>; and c) preparing a solid foundation for <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/485567/GCSE_subject_content_modern_foreign_langs.pdf" target="_blank" rel="noopener noreferrer">GCSE content</a> and examinations, which builds on the core grammar and vocabulary outlined in the programmes of study for Key Stages 2 and 3.</p>


<div style="height:20px" aria-hidden="true"></div>


<p style="text-align: left;"><a class="btn btn-warning" href="https://resources.ncelp.org/concern/resources/8k71nh72x?locale=en" target="_blank" rel="noopener noreferrer">Why teach the NCELP Key Stage 3 Languages Schemes of Work in your school? </a></p>

<div style="height:34px" aria-hidden="true"></div>

<p style="text-align: left;"><strong>Our full lesson resources can by accessed by clicking the relevant button below and selecting the relevant year group and then the relevant term (from the subcollections at the bottom of the page). An update on progress with Year 7 and Year 8 SOW and associated resources, is also available below.&nbsp;</strong></p>

<div style="height:20px" aria-hidden="true"></div>

<p><a class="btn btn-warning" href="https://resources.ncelp.org/collections/t148fh31r?locale=en" target="_blank" rel="noopener noreferrer">French resources</a></p>
                        
<p><a class="btn btn-warning" href="https://resources.ncelp.org/collections/k3569444k?locale=en" target="_blank" rel="noopener noreferrer">German resources</a></p>

<p><a class="btn btn-warning" href="https://resources.ncelp.org/collections/f1881m10k?locale=en" target="_blank" rel="noopener noreferrer">Spanish resources</a></p>

<div style="height:34px" aria-hidden="true"></div>

<h2>Year 7 SOW</h2>
<p>Detailed SOW are now available for all of Year 7 and they include url links to all of the lesson resources which have now been trialled in several <a href="https://ncelp.org/hubs/schools-within-the-hub-network/" target="_blank" rel="noopener noreferrer">NCELP schools</a>.&nbsp;</p>
<ul>
<li><a href="https://resources.ncelp.org/concern/resources/3f462554x?locale=en" target="_blank" rel="noopener noreferrer">French Y7 SOW</a></li>
<li><a href="https://resources.ncelp.org/concern/resources/gt54kn19s?locale=en" target="_blank" rel="noopener noreferrer">German Y7 SOW</a></li>
<li><a href="https://resources.ncelp.org/concern/resources/76537160f?locale=en" target="_blank" rel="noopener noreferrer">Spanish Y7 SOW</a></li>
</ul>
<p>We also provide SOW overviews for the whole of Year 7:</p>
<ul>
<li><a href="https://resources.ncelp.org/concern/resources/fx719m683?locale=en" target="_blank" rel="noopener noreferrer">French Y7 SOW Overview</a></li>
<li><a href="https://resources.ncelp.org/concern/resources/zp38wc76v?locale=en" target="_blank" rel="noopener noreferrer">German Y7 SOW Overview</a></li>
<li><a href="https://resources.ncelp.org/concern/resources/0g354f46z?locale=en" target="_blank" rel="noopener noreferrer">Spanish Y7 SOW Overview</a></li>
</ul>
<p>NCELP is fully resourcing its SOW.&nbsp;The easiest way to locate resources is in the SOW collections:</p>
<ul>
<li><a href="https://resources.ncelp.org/collections/6q182k249?locale=en" target="_blank" rel="noopener noreferrer">French SOW Y7 resource collection</a></li>
<li><a href="https://resources.ncelp.org/collections/xg94hp60j?locale=en" target="_blank" rel="noopener noreferrer">German SOW Y7 resource collection</a></li>
<li><a href="https://resources.ncelp.org/collections/vx021f11c?locale=en" target="_blank" rel="noopener noreferrer">Spanish SOW Y7 resource collection</a></li>
</ul>
<p>Within each folder, select Download All (bottom left) to save all resources.</p>
<p>We are also providing 50-page language guides&nbsp;to accompany the NCELP Y7 schemes of work. These provide succinct grammar explanations, vocabulary lists, and a phonics guide to support students’ independent learning for the whole of Y7. They also include QR codes on each page to link to each week’s vocabulary learning on Quizlet.&nbsp;</p>
<ul>
<li><a href="https://resources.ncelp.org/concern/resources/44558d56b?locale=en" target="_blank" rel="noopener noreferrer">Y7 French Language Guide</a></li>
<li><a href="https://resources.ncelp.org/concern/resources/2f75r835x?locale=en" target="_blank" rel="noopener noreferrer">Y7 German Language Guide</a></li>
<li><a href="https://resources.ncelp.org/concern/resources/c821gk138?locale=en" target="_blank" rel="noopener noreferrer">Y7 Spanish Language Guide</a></li>
<li style="list-style-type: none;">&nbsp;</li>
</ul>
<h2>Year 8 SOW</h2>
<p>The Year 8 schemes of work outlines the vocabulary, grammar, and ‘sounds of the language’ that are planned for the year. Please note that this is a draft and is subject to change in the process of developing the resources to accompany it.&nbsp;</p>
<ul>
<li><a href="https://resources.ncelp.org/concern/resources/h989r371k?locale=en" target="_blank" rel="noopener noreferrer">French Y8 SOW</a></li>
<li><a href="https://resources.ncelp.org/concern/resources/j098zb56b?locale=en" target="_blank" rel="noopener noreferrer">German Y8 SOW</a></li>
<li><a href="https://resources.ncelp.org/concern/resources/4t64gn64v?locale=en" target="_blank" rel="noopener noreferrer">Spanish Y8 SOW</a></li>
</ul>
<p>We also have overviews for the whole of Year 8. These two-page documents summarise the key specifications of the Year 8 scheme of work for each language.&nbsp;</p>
<ul>
<li><a href="https://resources.ncelp.org/concern/resources/wm117p427?locale=en" target="_blank" rel="noopener noreferrer">French Y8 SOW Overview</a></li>
<li><a href="https://resources.ncelp.org/concern/resources/6d56zx144?locale=en" target="_blank" rel="noopener noreferrer">German Y8 SOW Overview</a></li>
<li><a href="https://resources.ncelp.org/concern/resources/sb397878s?locale=en" target="_blank" rel="noopener noreferrer">Spanish Y8 SOW Overview</a></li>
</ul>
<p>We will upload updated SOW for each term after they have been taught in project schools that are providing us with feedback and quality assurance. The resources for Year 8 will be uploaded weekly, a few weeks ahead of teaching.&nbsp;The easiest way to locate resources is in the SOW collections:</p>
<ul>
<li><a href="https://resources.ncelp.org/collections/v405s978j?locale=en" target="_blank" rel="noopener noreferrer">French SOW Y8 resource collection</a></li>
<li><a href="https://resources.ncelp.org/collections/v979v353d?locale=en" target="_blank" rel="noopener noreferrer">German SOW Y8 resource collection</a></li>
<li><a href="https://resources.ncelp.org/collections/5x21tf90c?locale=en" target="_blank" rel="noopener noreferrer">Spanish SOW Y8 resource collection</a></li>
</ul>
<p>Within each folder, select Download All (bottom left) to save all resources.</p>
<p>Language guides for Year 8, Term 1 are available:</p>
<ul>
<li><a href="https://resources.ncelp.org/concern/resources/j098zb67v?locale=en" target="_blank" rel="noopener noreferrer">Y8 French Language Guide</a></li>
<li><a href="https://resources.ncelp.org/concern/resources/7w62f875w?locale=en" target="_blank" rel="noopener noreferrer">Y8 German Language Guide</a></li>
<li><a href="https://resources.ncelp.org/concern/resources/q811kk31z?locale=en" target="_blank" rel="noopener noreferrer">Y8 Spanish Language Guide</a></li>
</ul>
<h2>&nbsp;</h2>
<h2>Google Slides</h2>
<p>All our PowerPoint full lesson resources are being converted to Google Slides. Where they exist already, there is a link to the Google Slide version in the description for that resource. We are currently working through the backlog.&nbsp;<strong>Full lesson resources currently available in Google Slides format:</strong></p>
<ul>
<li>Year 7: first term complete and being added to</li>
<li>Year 8: first term complete and being added to</li>
</ul>
<h2>&nbsp;</h2>
<h2>Recorded lessons</h2>
<p>On the <a href="https://classroom.thenational.academy/" target="_blank" rel="noopener noreferrer">Oak National Academy online classroom</a> you can also acess video recordings of an adapted version of our resources. Links to the Oak lessons are included in the resource description for each lesson on the NCELP portal. <strong>Recorded lessons currently available on Oak:</strong></p>
<ul>
<li>Year 7: matched to every lesson of the NCELP SOW</li>
<li>Year 8: matched to the first term of the NCELP SOW and being added to.</li>
</ul>
<h2>&nbsp;</h2>
<h2>Keep up to date with NCELP SOW developments</h2>
<p>If you would like to receive a regular bulletin of the latest SOW materials added to the NCELP Resource Portal as well updates on the Centre’s activities, sign up to our <a href="https://forms.gle/AXQQg64zHTCa7yZCA" target="_blank" rel="noopener noreferrer" data-saferedirecturl="https://www.google.com/url?q=https://forms.gle/AXQQg64zHTCa7yZCA&amp;source=gmail&amp;ust=1562928119723000&amp;usg=AFQjCNFxsG9rs47G47mLG6bKqq1K6fntew">mailing list</a>.</p>
<hr>
<h2>Coronavirus (COVID-19) – NCELP materials</h2>
<p>We know that teachers are all working very hard to manage the impact on pupils and schools in these difficult times. We have made some updates to the Resource Portal to reflect the change in practice arising from school closure, under a new Coronavirus (COVID-19) banner:&nbsp;</p>
<div>
<ul>
<li><span class="gmail_default"><a href="https://ncelp.org/ncelp-approaches-to-remote-teaching-and-learning/" target="_blank" rel="noopener noreferrer">NCELP approaches to teaching and learning during COVID-19</a></span></li>
<li><span style="color: #073763;"><a href="https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fncelp.org%2Fncelp-teacher-cpd%2F&amp;data=02%7C01%7C%7C1fbd7f9882b34b5c9aca08d7d4c3eee2%7C7eeaedd6bf3740158fe919fbc2c02d55%7C0%7C0%7C637211810313223959&amp;sdata=49Fu4JKvP70oJQgLfjzyvyRlZ6jv9H%2B09yHzDyWBRpU%3D&amp;reserved=0" target="_blank" rel="noopener noreferrer">NCELP teacher CPD</a></span></li>
</ul>
</div>