<%unless (field_value.nil?) or (field_value=='') or (field_value.kind_of?(Array) and field_value[0]=='')%>
    <div class="row">
        <div class="col-xs-12 col-sm-3">
          <b><%=I18n.t('simple_form.labels.resource.'+field_name)%></b>
        </div>
        <div class="col-sm-9">
          <% if field_value.kind_of?(Array) %>
            <%field_value.each do |w|%>
                <%=w%>
            <%end%>
          <% else %>
            <%= field_value %>
          <% end %>
        </div>
    </div>
<%end%>
