<%unless (field_value.nil?) or (field_value=='') or (field_value.kind_of?(Array) and field_value[0]=='')%>
    <div class="row">
        <div class="col-xs-12 col-sm-3">
          <%= image_tag(I18n.t('ncelp.icons.iris'), :alt => 'IRIS', :class =>"ncelp-resource-link-icon")%>
        </div>
        <div class="col-sm-9">
          <% if field_value.kind_of?(Array) %>
            <%field_value.each do |w|%>
                <%= link_to w, w, target: :_blank %>
            <%end%>
          <% else %>
            <%= link_to field_value, field_value, target: :_blank  %>
          <% end %>
        </div>
    </div>
<%end%>
