<%unless (field_value.nil?) or (field_value=='') or (field_value.kind_of?(Array) and field_value[0]=='')%>
    <div class="row iris-oasis-links-row">
        <div class="col-xs-12 col-sm-12 ncelp-resource-details-content">
          <h5 class="ncelp-resource-details-label">IRIS instruments</h5>
          <div class="ncelp-resource-details-content">
          This resource uses materials available from the IRIS database:
          </div>
        </div>
    </div>
    <% field_value.each do |w| %>
      <div class="row iris-oasis-links-row">
        <div class="col-xs-12 col-sm-3 ncelp-resource-details-label">
          <%= image_tag(I18n.t('ncelp.icons.iris'), :alt => 'IRIS', :class =>"ncelp-resource-link-icon")%>
        </div>
        <div class="col-sm-9 ncelp-resource-details-content">
          <%= link_to w, w, target: :_blank %>
        </div>
      </div>
    <% end %>
<%end%>
