<h2>Items to download</h2>

<%  array_of_ids = presenter.list_of_item_ids_to_display %>
<%  members = presenter.member_presenters_for(array_of_ids) %>
<% if members.present? %>
  
  <%= render partial: 'member', collection: members %>
  
  <% if presenter.total_pages > 1 %>
    <div class="row">
      <div class="record-padding col-md-9">
        <%= paginate array_of_ids, outer_window: 2, theme: 'blacklight', param_name: :page, route_set: main_app %>
      </div>
    </div>
  <% end %>

<% elsif can? :edit, presenter.id %>
    <div class="alert alert-warning" role="alert"><%= t('.empty', type: presenter.human_readable_type) %></div>
<% else %>
  <div class="alert alert-warning" role="alert"><%= t('.unauthorized', type: presenter.human_readable_type) %></div>
<% end %>
