<% presenter.title.each_with_index do |title, index| %>
  <div class="row resource-title">
    <div class="col-sm-12">
      <% if title.present? %>
        <h1 class="modal-title"><%= title %></h1>
      <% else %>
      <h1 class="modal-title">Resource details</h1>
      <% end %>
      <% presenter.creator.each do |creator| %>
        <span itemprop="creator" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name"><%= link_to_facet(creator, "creator_sim") %></span>
        </span>
        <br />
      <% end %>
    </div>
  </div>
<% end %>
