<% presenter.title.each_with_index do |title, index| %>
  <div class="row resource-title">
    <div class="col-sm-12">
      <% if title.present? %>
        <h1 class="modal-title"><%= title %></h1>
      <% else %>
      <h1 class="modal-title">Resource details</h1>
      <% end %>
    </div>
  </div>
<% end %>
