<% provide :page_title, @presenter.page_title %>

<%= render 'shared/nceheader' %>

<%= render 'shared/citations' %>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= render 'resource_show_title', presenter: @presenter %>
    </div>
  </div>
</div>

<% document=@presenter.solr_document %>
<!-- top box -->
<div class="row ncelp-resource-details-box">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      Title
    </div>
    <div class="col-xs-12 col-sm-9">
      <%document.title.each do |t| %>
        <%=t %><br/>
      <%end %>

    </div>
  </div>
</div>
<br/>
<!-- middle box -->
<div class="row ncelp-resource-details-box">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      middle left
    </div>
    <div class="col-xs-12 col-sm-9">
      right
    </div>
  </div>
</div>
<br/>
<!-- bottom box -->
<div class="row ncelp-resource-details-box">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      bottom left
    </div>
    <div class="col-xs-12 col-sm-9">
      right
    </div>
  </div>
</div>